name: Test

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Start server
        uses: ./
        with:
          imageTag: lucee5
          serverPort: 2022

      - name: confirm server is listening
        run: curl http://127.0.0.1:2022/tests/index.cfm

      - name: Run testbox specs
        uses: Ortus-Solutions/commandbox-action@v1.0.2
        with:
          cmd: testbox run runner=http://server:2022/tests/index.cfm